<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/bulma.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

@RenderBody()

@await RenderSectionAsync("Scripts",false)
<script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
</body>
</html>